.hidden,
.hidden * {
    pointer-events: none;
    visibility: hidden;
}

@import url('https://fonts.googleapis.com/css?family=Signika:400');

.frame1-screen{
    align-items: flex-start;
    background-color: #8684fb; /*#8784fca3*/
    border: 1px none;
    display: flex;
    width: 100%;
    text-align: center;
}

.overlap-group{
    height: 273px;
    margin-top: 1px;
    position: relative;
    width: 840px;
}

.rectangle-2{
    background-color: #d9d9d9;
    border : 1px none; 
    height: 20vh; 
    position:fixed;
    transform: rotate(9.01deg);
    width: 115vh ;
    top: 40vh;
    left: 55vh;
    margin: auto;
}

.title  {
    color: var(--black);
    font-family: var(--font-family-s1gn1ka); 
    font-size: var(--font-size-m);
    font-weight: 400; 
    position:fixed;
    transform: rotate(9.0deg );
    white-space: nowrap;
    top: 42vh;
    left: 56.5vh;
}

:root{
 --black: rgba(0,0,0,1);
 --font-size-m: 17vh;
 --font-family-signika: "Signika";
}
