#title-about_me{
  margin-top: 3vh;
  text-align: center;
  font-size: 8vh;
  display: none;
}

#title-social_media{
  margin-top: 8vh;
  text-align: center;
  font-size: 8vh;
  display: none;
}

#title-prog_lang{
  margin-top: 10vh;
  text-align: center;
  font-size: 8vh;
  display: none;
}

#title-hobbies{
  margin-top: 12vh;
  text-align: center;
  font-size: 8vh;
  display: none;
}



.frame2Wrapper {
  width: 100%;
  height: 1080px;
  position: relative;
}

.body {
  background-color: #98afff;
  
  background-repeat:no-repeat;


  
}

#pill {
  top: 5vh;
  height: 30vh;
  
  left: 80vh;
  width: 54vh;
  
  position: fixed;
  border-radius: 25vh;
  overflow: hidden;
  background-color: #ebebeb;
  transform: rotate(-10deg);
}

#square {
  top: 35vh;
  height: 35vh;

  left: 10vh;
  width: 44vh;

  position: fixed;
  border-radius: 5vh;
  overflow: hidden;
  background-color: #ef8181;
  transform: rotate(10deg);
}

.viewZero {
  top: 35vh;
  height: 20vh;
  
  left: 150vh;
  width: 44vh;
  position: fixed;

  border-radius: 25vh;
  overflow: hidden;
  background-color: #f2e56d;
  transform: rotate(-30deg);
}

.viewTwo {
  top: 40vh;
  height: 20vh;

  left: 150vh;
  width: 44vh;

  position: fixed;
  border-radius: 25vh;
  overflow: hidden;
  background-color: #f2e56d;
  transform: rotate(-30deg);
}

.cloud2 {
  top: 65vh;
  height: 25vh;

  left: 103vh;
  width: 25vh;

  position: fixed;
  border-radius: 27vh;
  overflow: hidden;
  background-color: #324fa5;
  transform: rotate(80deg);
}

.cloud1 {
  top: 72vh;
  height: 25vh;

  left: 92vh;
  width: 50vh;

  position: fixed;
  border-radius: 27vh;
  overflow: hidden;
  background-color: #324fa5;
}

